{% extends 'base.html' %}


{% block title %}
Registrar Empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar empleado</h1>
        <form class="cell grid-x grid-margin-x" method="POST">{%csrf_token%}
            <div class="medium-6 cell">
                <label>Nombres
                    {{form.first_name}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellidos
                    {{form.lest_name}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Trabajo
                    {{form.job}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Departamento
                    {{form.departamento}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Habilidades
                    {{form.habilidades}}
                </label>
                <div class="medium-6 cell">
                   <button type="submit" class="button succes">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}